<a href="https://colab.research.google.com/github/dinesh1190/Array-Assignment---/blob/main/Assignment_9_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Solution for question 1

In [ ]:

def isPowerOfTwo(n):
    if n <= 0:
        return False
    while n % 2 == 0:
        n /= 2
    return n == 1

In [ ]:
print(isPowerOfTwo(64))

True

#Solution for question 2

In [ ]:

def sum_of_natural_numbers(n):
    total_sum = 0
    for i in range(1, n + 1):
        total_sum += i
    return total_sum

In [ ]:
n = 3
result = sum_of_natural_numbers(n)
print(result)

6

#Solution for question 3

In [ ]:

def factorial(N):
    if N == 0 or N == 1:
        return 1
    else:
        result = 1
        for i in range(2, N+1):
            result *= i
        return result

In [ ]:
N = 6
factorial_N = factorial(N)
print(factorial_N)

720

#Solution for question 4

In [ ]:

N = 5
P = 2

result = 1

for _ in range(P):
    result *= N

print(result)

25

#Solution for question 5

In [ ]:


def findMax(arr, n):
    if n == len(arr) - 1:
        return arr[n]
    
    max_rest = findMax(arr, n + 1)
    
    return max(arr[n], max_rest)

In [ ]:
arr = [112,548,15,42,9876,545]
max_element = findMax(arr, 0)
print(max_element)

9876

#Solution for question 6

In [ ]:

def find_nth_term(a, d, N):
    nth_term = a + (N - 1) * d
    return nth_term

In [ ]:
a = 5
d = 2
N = 6

result = find_nth_term(a, d, N)
print(f"The {N}th term of the series is: {result}")

The 6th term of the series is: 15

#Solution for question 7

In [ ]:

from itertools import permutations

def print_permutations(string):
    perms = permutations(string)
    for perm in perms:
        print(''.join(perm))

In [ ]:
string = "ABC"
print_permutations(string)

ABC
ACB
BAC
BCA
CAB
CBA

#Solution for question 8

In [ ]:
def find_product(arr):
    product = 1
    for num in arr:
        product *= num
    return product

In [ ]:
arr = [5,8,7,9,6,4,1]
result = find_product(arr)
print(result)

60480